*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    letter-spacing: 2px;
}
body{
    margin: 0;
    background:url(images/anton-darius-15AMBS1gM2E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 745px;
  padding-right: 20px;
  margin-right: 20px;
  overflow:hidden;
  height: 700px;
}
.search-container{
background-color: rgba(108, 108, 108, 0.255);
height: 750px;
width: 600px;
padding-left: 60px;
padding-top: 20px;
outline: 2px rgba(231, 231, 231, 0.281) solid;
}
.city-container{
    position: absolute;
    display:flex;
    justify-content: space-between;
    top: 70px;
    left: 700px;
    color: white;
    align-items: center;
    margin: 0;

}
.search-bar{
    border: none;
    background: none;
    border-bottom: 1.5px white solid;
    width: 330px;
    height: 40px;
    font-size: larger;
    outline: none;
    color:white;
}
.search-bar::placeholder{
    color:white;
}
.search-bar:focus::placeholder{
    color: transparent;
}
.search-bar:focus{
    color: white;
}
.search-button{
    position: absolute;
    background: none;
    border: none;
    outline: none;
    top: 24px;
    left: 360px;
    font-size: 15px;
    color: white;
}

.search-button:hover{
color: rgb(178, 178, 178);
cursor: pointer;
}
li{
list-style-type: none;
color: white;
font-size: 20px;
}
.New-York{
    margin-top: 1.7em;
    margin-bottom: 2em;
}
.New-York:hover{
    color:rgb(197, 197, 197); 
    cursor: pointer;
}
.Dallas{
    margin-bottom:2em;
}
.Dallas:hover{
    color:rgb(197, 197, 197); 
    cursor: pointer;
}
.Chicago:hover{
    color:rgb(197, 197, 197); 
    cursor: pointer;
}
.farenheight-container{
    display: flex;
    width:fit-content;
    margin-top: 1.8em;
}

.farenheight{
margin-left: .25em;
font-size: 50px;
margin-top: 2em;
}
.temp{
    font-size: 120px;
}
.city-name{
font-size: 55px;
margin-top:1.4em;
margin-left: .8em;
margin-bottom: 0;


}

.city-description-container{
    display: flex;
    flex-direction: column;
    
}
.description-container{
    display: flex;


}
.description{
    font-size: 35px;
    margin-right: .5em;
    margin-left: 2em;
    margin-top: .5em;
}
.icon{
    margin-top: .5em;
}
.last-updated{
    position: absolute;
    top: 660px;
    color: white;
    font-size: 17px;
    left: 1200px;
}
.divider{
    position: absolute;
    width: 400px;
    left: 60px;
    height: 1px;
    top: 290px;
    background-color: white;
}
.column-container{
    color: white;
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 65px;

}
.column-container p{
    margin-bottom: 2.5em;
}
.column-container div{
    margin-bottom: 2.5em;
    
}
.feels-like{
    display: inline;
    margin-right: 12.3em;
}
.rain-in-inches{
    display: inline;
    margin-right: 13.3em;
}
.humidity{
    word-spacing: 12.5em;
}
.wind{
    word-spacing: 14.8em;
}
.cloudiness{
word-spacing: 13.9em;
}
.Weather-Details{
    position: absolute;
    top: 300px;
    left: 176px;
    color: white;
    font-size: 20px;
}